extends layout

block content
  //h1= title

  #rtChart.rtChart

  .alert
  .rtWidgets

  script.
    var INTERVAL = !{interval || 60*1000};
    var chartSeries = !{JSON.stringify(chartSeries)};
  script(src="javascripts/jquery.min.js")
  script(src="javascripts/highcharts.js")
  script(src="javascripts/widget.js")
  script(src="javascripts/dashboard.js")
